.u-section-1 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-1 .u-text-1 {
  font-family: "Expletus Sans";
  margin: 64px auto 0 13px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 53px 126px 0 14px;
}

.u-section-1 .u-text-3 {
  font-family: "Expletus Sans";
  margin: 15px 126px 0 14px;
}

.u-section-1 .u-text-4 {
  font-family: "Expletus Sans";
  margin: 15px 126px 0 14px;
}

.u-section-1 .u-image-1 {
  width: 394px;
  height: 202px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 21px auto 0 14px;
}

.u-section-1 .u-text-5 {
  font-family: "Expletus Sans";
  margin: -105px 1003px 0 81px;
}

.u-section-1 .u-text-6 {
  font-family: "Expletus Sans";
  margin: 108px 127px 0 13px;
}

.u-section-1 .u-image-2 {
  width: 724px;
  height: 416px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 14px;
}

.u-section-1 .u-text-7 {
  font-family: "Expletus Sans";
  margin: 21px 126px 19px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 56px;
    margin-right: 64px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-right: -14px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-right: -14px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -106px;
    margin-right: 804px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 109px;
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-bottom: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -105px;
    margin-right: 600px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 108px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 414px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 47px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -106px;
    margin-right: 421px;
    margin-left: 63px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 55px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 174px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -92px;
    margin-right: 229px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 123px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 196px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 596px;
}

.u-section-2 .u-text-1 {
  font-family: "Expletus Sans";
  margin: 20px 126px 0 14px;
}

.u-section-2 .u-text-2 {
  font-family: "Expletus Sans";
  margin: 10px 126px 0 14px;
}

.u-section-2 .u-list-1 {
  width: 828px;
  margin: 10px auto 64px 4px;
}

.u-section-2 .u-repeater-1 {
  min-height: 444px;
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  height: 202px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-family: "Expletus Sans";
  margin: -106px auto 0 66px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  height: 202px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-family: "Expletus Sans";
  margin: -106px auto 0 66px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  height: 202px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-family: "Expletus Sans";
  margin: -106px auto 0 66px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  height: 202px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-family: "Expletus Sans";
  margin: -106px auto 0 66px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 64px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1266px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 139px;
    margin-right: -17px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: -109px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    height: 236px;
    width: 461px;
    margin-top: 134px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: -123px -70px -24px 90px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-image-2 {
    height: 236px;
    width: 461px;
    margin-top: 134px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin: -123px -70px -24px 90px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-image-3 {
    height: 236px;
    width: 461px;
    margin-top: 134px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin: -123px -70px -24px 90px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-2 .u-image-4 {
    height: 236px;
    width: 461px;
    margin-top: 134px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin: -123px -70px -24px 90px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1471px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 176px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 23px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -271px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 294px;
  }

  .u-section-2 .u-text-3 {
    margin: -137px 0 -164px 86px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 294px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -137px;
    margin-bottom: -164px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 294px;
  }

  .u-section-2 .u-text-5 {
    margin: -137px 0 -164px 86px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 294px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -137px;
    margin-bottom: -164px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-bottom: -73px;
  }

  .u-section-2 .u-image-1 {
    height: 174px;
    margin-top: 2px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin: -94px 204px 0 57px;
  }

  .u-section-2 .u-image-2 {
    height: 174px;
    margin-top: 2px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin: -94px 204px 0 57px;
  }

  .u-section-2 .u-image-3 {
    height: 174px;
    margin-top: 2px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin: -94px 204px 0 57px;
  }

  .u-section-2 .u-image-4 {
    height: 174px;
    margin-top: 2px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin: -94px 204px 0 57px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 735px;
}

.u-section-3 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 64px auto 0 14px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 6px 126px 0 14px;
}

.u-section-3 .u-text-2 {
  font-family: "Expletus Sans";
  margin: 14px 126px 0 14px;
}

.u-section-3 .u-text-3 {
  font-family: "Expletus Sans";
  margin: 27px 126px 0 14px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 475px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 64px 14px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: -14px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: 49px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: -14px;
  }

  .u-section-3 .u-image-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 450px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 283px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 560px;
}

.u-section-4 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 64px auto 0 14px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 4px 126px 0 14px;
}

.u-section-4 .u-text-2 {
  font-family: "Expletus Sans";
  margin: 16px 126px 0 14px;
}

.u-section-4 .u-text-3 {
  font-family: "Expletus Sans";
  margin: 26px 1056px 0 14px;
}

.u-section-4 .u-text-4 {
  font-family: "Expletus Sans";
  margin: -24px 26px 0 589px;
}

.u-section-4 .u-image-1 {
  width: 394px;
  height: 202px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0 14px;
}

.u-section-4 .u-text-5 {
  font-family: "Expletus Sans";
  margin: -106px 937px 0 80px;
}

.u-section-4 .u-image-2 {
  width: 525px;
  height: 293px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -120px 26px 0 auto;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -215px auto 102px 474px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: -14px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: -14px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 22px;
    margin-right: 856px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: -86px;
    margin-left: 501px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 733px;
    margin-left: 84px;
  }

  .u-section-4 .u-image-2 {
    width: 387px;
    height: 216px;
    margin-right: 52px;
    margin-bottom: -177px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-right: 636px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 267px;
    margin-right: 181px;
    margin-left: 14px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -275px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -113px;
    margin-right: 533px;
    margin-left: 64px;
  }

  .u-section-4 .u-image-2 {
    margin: 176px auto 60px 14px;
  }

  .u-section-4 .u-icon-1 {
    margin-bottom: 102px;
    margin-left: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 14px;
    margin-right: 470px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 292px;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -304px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 353px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 198px;
    margin-bottom: -54px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 35px;
    margin-right: 270px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 256px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 174px;
    margin-top: -268px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: -93px;
    margin-right: 159px;
    margin-left: 58px;
  }

  .u-section-4 .u-image-2 {
    height: 190px;
    margin-top: 173px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 141px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 681px;
}

.u-section-5 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 64px auto 0 14px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 14px 126px 0 14px;
}

.u-section-5 .u-text-2 {
  font-family: "Expletus Sans";
  margin: 4px 126px 0 14px;
}

.u-section-5 .u-text-3 {
  font-family: "Expletus Sans";
  margin: 28px 956px 0 14px;
}

.u-section-5 .u-text-4 {
  font-family: "Expletus Sans";
  margin: -24px 107px 0 668px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 155px auto 0;
}

.u-section-5 .u-image-1 {
  width: 458px;
  height: 414px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -205px auto 0 14px;
}

.u-section-5 .u-image-2 {
  width: 458px;
  height: 414px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -414px 14px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-right: -14px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: -14px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 12px;
    margin-right: 756px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 460px;
    margin-right: 561px;
    margin-left: 14px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -464px;
  }

  .u-section-5 .u-image-2 {
    margin: 64px auto 54px 12px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 36px;
    margin-right: 536px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 464px;
    margin-right: 341px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -474px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 74px;
    margin-bottom: 60px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 511px;
    margin-right: 175px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 159px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -519px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 119px;
    margin-bottom: -70px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 457px;
    margin-right: 170px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -423px;
    margin-right: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 267px;
  }

  .u-section-5 .u-image-1 {
    height: 307px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 307px;
    margin-top: 92px;
    margin-bottom: -215px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 699px;
}

.u-section-6 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 64px auto 0 14px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 6px 126px 0 14px;
}

.u-section-6 .u-text-2 {
  font-family: "Expletus Sans";
  margin: 14px 126px 0 14px;
}

.u-section-6 .u-text-3 {
  font-family: "Expletus Sans";
  margin: 26px 323px 0 14px;
}

.u-section-6 .u-image-1 {
  width: 556px;
  height: 432px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0 14px;
}

.u-section-6 .u-group-1 {
  width: 429px;
  background-image: none;
  height: auto;
  min-height: 155px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -432px 64px 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-4 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 123px;
  }

  .u-section-6 .u-group-1 {
    min-height: 234px;
    height: auto;
    margin: 34px auto 50px 14px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-6 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: -14px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    margin-top: 42px;
    margin-bottom: 64px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 29px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 1px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 420px;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 264px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 623px;
}

.u-section-7 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 64px auto 0 14px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 6px 126px 0 14px;
}

.u-section-7 .u-text-2 {
  font-family: "Expletus Sans";
  margin: 14px 127px 0 13px;
}

.u-section-7 .u-text-3 {
  font-family: "Expletus Sans";
  margin: 26px 661px 0 14px;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 356px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0 14px;
}

.u-section-7 .u-group-1 {
  width: 429px;
  background-image: none;
  height: auto;
  min-height: 155px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -356px 64px 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-4 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-right: -14px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-right: 461px;
  }

  .u-section-7 .u-group-1 {
    min-height: 209px;
    height: auto;
    margin: 46px auto 26px 14px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-7 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 23px;
    margin-right: 241px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 33px;
    margin-bottom: 64px;
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-7 .u-line-1 {
    width: 540px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 75px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 337px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-7 .u-line-1 {
    width: 340px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 212px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 468px;
}

.u-section-8 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 60px auto 0 14px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 6px 126px 0 14px;
}

.u-section-8 .u-text-2 {
  font-family: "Expletus Sans";
  margin: 14px 126px 0 14px;
}

.u-section-8 .u-text-3 {
  font-family: "Expletus Sans";
  margin: 26px 661px 0 14px;
}

.u-section-8 .u-image-1 {
  width: 375px;
  height: 201px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0 14px;
}

.u-section-8 .u-group-1 {
  width: 429px;
  background-image: none;
  height: auto;
  min-height: 128px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -201px 64px 86px auto;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-4 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 64px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: -14px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: -14px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 16px;
    margin-right: 461px;
  }

  .u-section-8 .u-group-1 {
    margin-bottom: 64px;
    height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-8 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 6px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-right: 241px;
  }

  .u-section-8 .u-group-1 {
    min-height: 234px;
    margin: 33px auto 51px 14px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-8 .u-line-1 {
    width: 540px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 75px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    margin-left: 0;
  }

  .u-section-8 .u-group-1 {
    min-height: 209px;
    margin-top: 47px;
    margin-bottom: 64px;
    margin-left: 18px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-8 .u-line-1 {
    width: 340px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 182px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 664px;
}

.u-section-9 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 64px auto 0 14px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 14px 126px 0 14px;
}

.u-section-9 .u-text-2 {
  font-family: "Expletus Sans";
  margin: 6px 126px 0 14px;
}

.u-section-9 .u-text-3 {
  font-family: "Expletus Sans";
  margin: 26px 661px 0 14px;
}

.u-section-9 .u-image-1 {
  width: 556px;
  height: 397px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0 14px;
}

.u-section-9 .u-group-1 {
  width: 429px;
  background-image: none;
  height: auto;
  min-height: 128px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -397px 64px -216px auto;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-9 .u-text-4 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-right: -14px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: -14px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 461px;
  }

  .u-section-9 .u-group-1 {
    min-height: 184px;
    height: auto;
    margin: 26px auto 64px 14px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-9 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-right: 241px;
  }

  .u-section-9 .u-group-1 {
    margin-bottom: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-9 .u-line-1 {
    width: 540px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 75px;
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 386px;
    margin-left: 0;
  }

  .u-section-9 .u-group-1 {
    margin-bottom: -152px;
    margin-left: 0;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-9 .u-line-1 {
    width: 340px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 243px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
    margin-bottom: -76px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 664px;
}

.u-section-10 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 64px auto 0 14px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 14px 126px 0 14px;
}

.u-section-10 .u-text-2 {
  font-family: "Expletus Sans";
  margin: 6px 126px 0 14px;
}

.u-section-10 .u-text-3 {
  font-family: "Expletus Sans";
  margin: 26px 661px 0 14px;
}

.u-section-10 .u-image-1 {
  width: 734px;
  height: 397px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0 14px;
}

.u-section-10 .u-group-1 {
  width: 302px;
  background-image: none;
  height: auto;
  min-height: 75px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -397px 64px 60px auto;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-10 .u-text-4 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-right: -14px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-right: -14px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 461px;
  }

  .u-section-10 .u-group-1 {
    min-height: 184px;
    height: auto;
    margin: 26px auto 64px 14px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-10 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-right: 241px;
  }

  .u-section-10 .u-image-1 {
    width: 720px;
    height: 389px;
  }

  .u-section-10 .u-group-1 {
    margin-bottom: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-10 .u-line-1 {
    width: 540px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 75px;
    margin-left: 0;
  }

  .u-section-10 .u-image-1 {
    width: 540px;
    height: 292px;
    margin-left: 0;
  }

  .u-section-10 .u-group-1 {
    margin-bottom: -152px;
    margin-left: 0;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-10 .u-line-1 {
    width: 340px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 184px;
  }

  .u-section-10 .u-group-1 {
    min-height: 80px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 15px;
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 664px;
}

.u-section-11 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 64px auto 0 14px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 14px 126px 0 14px;
}

.u-section-11 .u-text-2 {
  font-family: "Expletus Sans";
  margin: 6px 126px 0 14px;
}

.u-section-11 .u-text-3 {
  font-family: "Expletus Sans";
  margin: 26px 441px 0 14px;
}

.u-section-11 .u-image-1 {
  width: 746px;
  height: 387px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0 14px;
}

.u-section-11 .u-group-1 {
  width: 302px;
  background-image: none;
  height: auto;
  min-height: 75px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -387px 64px 60px auto;
}

.u-section-11 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-11 .u-text-4 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-right: -14px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-right: -14px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 241px;
  }

  .u-section-11 .u-group-1 {
    min-height: 184px;
    height: auto;
    margin: 26px auto 64px 14px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-11 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    width: auto;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 374px;
  }

  .u-section-11 .u-group-1 {
    margin-bottom: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-11 .u-line-1 {
    width: 540px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 281px;
    margin-left: 0;
  }

  .u-section-11 .u-group-1 {
    margin-bottom: -152px;
    margin-left: 0;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-11 .u-line-1 {
    width: 340px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 177px;
  }

  .u-section-11 .u-group-1 {
    min-height: 105px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-text-4 {
    width: auto;
    margin-top: 15px;
    margin-right: 0;
  }
}