.u-section-1 .u-sheet-1 {
  min-height: 490px;
}

.u-section-1 .u-text-1 {
  margin: 64px auto 0 14px;
}

.u-section-1 .u-text-2 {
  margin: 25px auto 0 14px;
}

.u-section-1 .u-group-1 {
  width: 1112px;
  min-height: 248px;
  height: auto;
  margin: 25px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 11px 18px;
}

.u-section-1 .u-text-3 {
  margin: -6px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-bottom: 64px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 14px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 443px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 40px auto 0 14px;
}

.u-section-2 .u-text-1 {
  margin: 22px auto 0 14px;
}

.u-section-2 .u-text-2 {
  margin: 25px auto 0 14px;
}

.u-section-2 .u-group-1 {
  width: 1112px;
  min-height: 200px;
  height: auto;
  margin: 25px auto 12px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 11px;
  padding-right: 11px;
}

.u-section-2 .u-text-3 {
  margin: 25px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 64px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    margin-bottom: 61px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-bottom: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 23px;
    margin-bottom: 60px;
  }
}